*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box; 
}

.background{
    background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt7832bf071133b25e/60da7c1963584e0ecadff645/27bf0fb6bfd8139dae6517b767ccc0794e143e18.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: blue;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}

span{
    color: white;
}
h5 span{
    color: blue;
}

.botao-voltar{
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.botao-voltar:hover{
    transform: scale(1.2);
}

.apresentacao{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.apresentacao span{
    color: white;
    font-size: 75px;
}

h1{
    color: blue;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 0.1em 0.1em black;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    text-shadow: 0.1em 0.1em #333
}

.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
}

.background-cor{
    background-color: #a6dced;
    width: 100%;
    padding: 100px 0px;
    
}

.background-cor img{
    width: 430px;
    height: auto;
}

.texto-sobre{
    width: 550px;
}

.apresentacao-sobre{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 1130px;
   margin: 0 auto;
}

.texto-sobre h2{
    color: blue;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.texto-sobre h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.texto-sobre p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.jogadores{
    background-color: white;
    width: 100%;
    padding: 100px 0px;
}

.titulo h2{
    color: black;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.Cartao{
    background: blue;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    
}

.Cartao i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: pink;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.paragrafo{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.paragrafo img{
    height: 100px;
    width: 100px;
}

.sol {
    width: 100%;
    height: 290px;
    background-color: #a6dced;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

/* .sol p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
} */

.sol img{
    background-position: center;
    height: 150px;
    width: 150px;
}

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 35px;
    color: black;
}

footer p{
    color: black;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}